<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blankit - The Pug's Route</title>
    
    <link rel="stylesheet" href="../../static/kstyle.css">
</head>
<body>

    <div class="grid-wrap">
        <header class="main-header">
            <h2>Hey</h2>
            <h3>User</h3>
            <div class="user-profile">
                Status
            </div>
            <div class="clock">clock</div>
        </header>

        <div class="l-bar">
            <div class = "add1" >
                <h1>addbox1</h1>
            </div>
            <div class = "add2" >
                <h1>addbox2</h1>
            </div>
            <div class = "add3" >
                <h1>addbox3</h1>
            </div>
        </div>

        <main class="playground">
            <div class="notes" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "ask" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "goal" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "finished" style="opacity: 0.6; border-style: solid">
                
            </div>
            <div class = "dream" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "todo" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "diets" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "plans" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "dms" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "comms" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "consistency" style="opacity: 0.6; border-style: solid">

            </div>
        </main>
        <div class ="r-bar">
            <div class = "streak" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "buddybot" style="opacity: 0.6; border-style: solid">

            </div>
            <div class = "calender" style="opacity: 0.6; border-style: solid">

            </div>
            
        </div>
    </div>

</body>
</html>