# Environments
.env
venv/

# Python Cache
__pycache__/
*.pyc

# Databases & Local Instances
instance/
*.db

#pug_specific:
distro/pug/llm/
distro/pug/datasets/
distro/pug/chat_logs/
distro/pug/tools/

# Claude Code memory
.claude/
